<nav class="zadmin-navbar">
  <a id="logo" aria-label="Zadmin" class="zadmin-button mat-button" md-button="" routerLink="" aria-disabled="false" tabindex="0"><span class="mat-button-wrapper">
    <img alt="Zadmin" class="zadmin-logo" src="../../../assets/img/logo.jpg">
    <span>Petite Coccinelle</span>
    </span>
    <div class="mat-button-ripple mat-ripple" md-ripple=""></div>
    <div class="mat-button-focus-overlay"></div>
  </a>
  <div class="flex-spacer"></div>
  <a *ngIf="!isAuthenticated()" id="signIn" md-button routerLink="signIn">Sign in {{isAuthenticated()}}</a>
  <a *ngIf="isAuthenticated()" id="signOut" md-button (click)="logout()">Sign out</a>
</nav>